<form {{on "submit" (fn this.submit)}} ...attributes>
  <label class="flex">
    <span class="flex-initial">Title:</span>
    <Input class="w-full flex-auto pl-2" placeholder="Some book title" @type="text" @value={{@book.title}} />
  </label>

  {{yield}}
</form>
